@import 'tailwindcss';

:root {
  --background: #070322;
  --foreground: #070322;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #ededed;
  font-family: Poppins, sans-serif;
}
